#title
        {
            background-color: black;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: flex;
            margin-bottom:20px ;
        }
        #title>div{
            display: flex;
            gap: 10px;
            margin-left: 20%;
        }
        #title>div>p{
            color: white;
            font-weight: bold;
            font-size: 20px;
        }
        #topimage
        {
            width: 20%;
            height: 100px;
            margin: auto;
        }
        #topimage>img
        {
            width: 100%;
        }
        #topimage+p
        {
            margin-top: -15px;
            text-align: center;
            font-weight: bold;
        }
        #navbar
        {
            width: 80%;
            height: auto;
            margin:auto
        }
        #navbar>div
        {
            border: 1px solid black;
            border-left: 0px;
            border-right: 0px;
            margin:auto;
        }
        #nav
        {
            height: auto;
            padding-top: 5px;
            padding-bottom: 5px;
            display: flex;
            gap: 40px;
            margin: auto;
            font-size: 20px;
        }
        #nav>img
        {
            margin: auto;
            width: 2%;
            height: 2%;
        }
        #options
        {
            margin: 10px;
        }
        #nav>p:hover
        {
            background-color: rgb(245, 234, 234);
        }
        #container
        {
            width: 80%;
            height: 900px;
            border: 1px solid red;
            margin: auto;
            margin-top: 40px;
            gap: 10px;
            display: flex;
        }
        #container>div:nth-child(1)
        {
            border: 1px solid green ;
            width: 40%;
            height: 60%;
        }
        #container>div:nth-child(2)
        {
            width: 25%;
            height: 65%;
            border: 1px solid red;
        }
        #container>div>div>img
        {
            width: 100%;
            border-radius:10px 10px 0px 0px;
        }
        ul{
            font-weight: bold;
        }